doctype 
html
  head
    title Database Explorer
    link(rel='stylesheet', href='/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="mysql.js")

  body
    ul(id='databases')
      