doctype
html
  head
    title dbexplorer - mysql
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src="/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    script(src="/javascripts/mysql.js")
    link(href='/images/favicon.svg', rel='shortcut icon', type="image/svg")

  body.bg-red-gradient
    .db-logo-holder
      img.db-logo(src='/images/db.svg')
    ul.panel(id='databases')
      h2 Databases

