doctype
html
  head
    title dbexplorer - postgresql
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    script(src="/javascripts/postgresql.js")
    link(href='/images/favicon.svg', rel='shortcut icon', type="image/svg")

  body.bg-blue-gradient
    .db-logo-holder
      img.db-logo(src='/images/db.svg')
    ul.panel(id='databases')
      h2 Databases

